/vendor/

.env
.env.local
.env.production
.env.staging
.env.testing

.phpunit.result.cache

storage/*
!storage/app/
!storage/app/public/
!storage/framework/
!storage/framework/cache/
!storage/framework/sessions/
!storage/framework/views/
!storage/logs/
!storage/*.key

bootstrap/cache/*

Homestead.json
Homestead.yaml

.DS_Store
Thumbs.db

.vscode/
.idea/

*.log
